body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100%;
    background-image: url("../img/collage.jpg");
    background-size: 80%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  }

.fondo-claro{
  min-height: 100px;
  background-image: url("../img/background-6.jpg");
  background-size: 30%; 
}

.badge-success{
  background-color: beige;
  color: grey;
}

.custom-checkbox label{
  color: white
}