<template>
  <div>
    <Filtros 
        @buscarRaza="buscarRaza" 
        @buscarSubRaza="buscarSubRaza"
        @limpiarImagenes="limpiarImagenes"
    />
    <Imagenes :imagenes="imagenes"/>
     <b-modal 
        ref="cargando"
        no-close-on-backdrop
        no-close-on-esc
        hide-header
        hide-footer
        content-class="bg-transparent border-0"
    >
            <img src="@/assets/img/5NFm6Jp.gif"/>
        </b-modal>
  </div>
</template>

<script>
import Filtros from "@/components/Filtros";
import Imagenes from "@/components/Imagenes";
import axios from "axios";
export default {
  components: {
    Filtros,
    Imagenes
  },
  data() {
    return {
      imagenes: []
    };
  },
  methods: {
    buscarRaza(raza) {
      this.abrirModal()
        axios.get(API.PERRO + `breed/${raza}/images`)
        .then(respuesta => {
          this.imagenes = respuesta.data.message;
        })
        .then(()=>{
          this.cerrarModal()
        })
      //le puse tiempo para que lo vean
    },
    buscarSubRaza(filtro) {
      this.abrirModal()
      axios
        .get(API.PERRO + `breed/${filtro.raza}/${filtro.subRaza}/images`)
        .then(respuesta => {
          this.imagenes = respuesta.data.message;
        })
        .then(()=>{
          this.cerrarModal()
        })
    },
    limpiarImagenes(){
        this.imagenes = []
    },
    abrirModal(){
      this.$refs.cargando.show()
    },
    cerrarModal(){
       setTimeout(()=>{
        this.$refs.cargando.hide()
       },1500)
    }
  }
};
</script>
