<template>
  <div class="row m-0 pb-2">
    <b-badge class="mr-1" variant="success" v-for="filtro in filtrosAplicados" :key="`filtro-${filtro}`">{{filtro}}
        | <a @click="eliminarFiltro(filtro)">X</a>
    </b-badge>
  </div>
</template>

<script>
export default {
  props: {
    filtrosAplicados: {
      type: Array,
      required: true
    }
  },
  methods:{
      eliminarFiltro(filtro){
          this.$emit("eliminarFiltro",filtro)
      }
  }
};
</script>
