<template>
  <div class="row mx-0 fondo-claro pt-2">
    <div class="col-12 row">
      <div class="col-12 col-lg-5 py-2 py-lg-0">
        <b-form-select v-model="filtros.raza" @change="listadoSubRazas" class="h-20">
          <option :value="null">Raza</option>
          <option v-for="razaPerro in listadoRazas" :key="razaPerro">{{razaPerro}}</option>
        </b-form-select>
      </div>
      <div class="col-12 col-lg-5 py-2 py-lg-0">
        <b-form-select
          @change="buscarSubRaza"
          v-model="filtros.subRaza"
          :disabled="subRazas.length==0"
        >
          <option :value="null">SubRaza</option>
          <option v-for="(subRaza,indice) in subRazas" :key="subRaza" :selected="indice">{{subRaza}}</option>
        </b-form-select>
      </div>
      <div class="col-12 col-lg-2 py-2 py-lg-0">
        <b-form-checkbox
          @change="filtroAplicado('conSubRaza')"
          v-model="filtros.conSubRaza"
          :value="true"
          :unchecked-value="false"
        >Tiene Subraza</b-form-checkbox>
        <b-form-checkbox
          v-model="filtros.invertirOrden"
          @change="filtroAplicado('invertirOrden')"
          :value="true"
          :unchecked-value="false"
        >Invertir orden</b-form-checkbox>
      </div>
    </div>
    <div class="col-12">
      <FiltrosSeleccionados :filtrosAplicados="filtrosAplicados" @eliminarFiltro="eliminarFiltro"/>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import FiltrosSeleccionados from "@/components/FiltrosSeleccionados";
export default {
  components: {
    FiltrosSeleccionados
  },
  data() {
    return {
      razas: null,
      subRazas: [],
      filtros: {
        raza: null,
        subRaza: null,
        conSubRaza: false,
        invertirOrden: false
      },
      filtrosAplicados: []
    };
  },
  watch:{
      "filtros.conSubRaza": function(nuevo){
          if(!nuevo){
              this.eliminarFiltro("conSubRaza")
          }
      },
      "filtros.invertirOrden": function(nuevo){
          if(!nuevo){
              this.eliminarFiltro("invertirOrden")
          }
      },
      "filtros.raza": function(nuevo){
          if(!nuevo){
              this.$emit("limpiarImagenes")
          }
      }
  },
  computed: {
    listadoRazas() {
      let razas = [];
      if (this.razas) {
        if (this.filtros.conSubRaza) {
          razas = Object.keys(this.razas).filter(
            raza => this.razas[raza].length > 0
          );
          this.filtroAplicado("conSubRaza");
        } else {
          razas = Object.keys(this.razas);
        }
      }
      if (this.filtros.invertirOrden) {
        this.filtroAplicado("invertirOrden");
        razas = razas.slice().reverse();
      }
      return razas;
    }
  },
  beforeMount() {
    this.obtenerRazas();
  },
  methods: {
    obtenerRazas() {
      axios
        .get(API.PERRO + "breeds/list/all")
        .then(respuesta => {
          this.razas = respuesta.data.message;
        })
        .catch(error => {
            //TODO: modal error
          console.log("Error");
        });
    },
    listadoSubRazas() {
      if (this.filtros.raza) {
        this.filtroAplicado("raza");
        this.subRazas = this.razas[this.filtros.raza];
        if (this.subRazas.length == 0) {
          this.filtros.subRaza = null;
          this.$emit("buscarRaza", this.filtros.raza);
        } else {
          this.filtros.subRaza = this.subRazas[0];
          this.buscarSubRaza();
        }
      }
    },
    buscarSubRaza() {
      let payload = {
        raza: this.filtros.raza,
        subRaza: this.filtros.subRaza
      };
      this.filtroAplicado("subRaza");
      this.$emit("buscarSubRaza", payload);
    },
    filtroAplicado(nombre) {
      let filtro = this.filtrosAplicados.find(filtro => filtro == nombre);
      if (!filtro) {
        this.filtrosAplicados.push(nombre);
      }
    },
    eliminarFiltro(nombre) {
      let tipo = typeof this.filtros[nombre];
      if (tipo == "string") {
        this.filtros[nombre] = null;
      } else if (tipo == "boolean") {
        this.filtros[nombre] = false;
      }
      let indice = this.filtrosAplicados.findIndex(filtro => filtro == nombre);
      this.filtrosAplicados.splice(indice, 1);
    }
  }
};
</script>