<template>
  <div class="col-12">
    <b-card-group columns>
      <b-card
        body-class="p-0"
        v-for="(imagen,indice) in imagenes"
        :key="`imagen${indice}`"
      >
        <b-card-img-lazy
        :src="imagen"
        img-alt="Image"
        />
      </b-card>
    </b-card-group>   
  </div>
</template>

<script>
export default {
  props: {
    imagenes: {
      type: Array,
      required: true
    }
  }
};
</script>